@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Source Sans Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.site {
  margin: 15px 0;
}

.site a {
  color: hsl(0, 0%, 0%);
  font-size: small;
  font-family: 'Paytone One', sans-serif;
  text-decoration: none;
}

.site img {
  vertical-align: bottom;
}

button {
  display: none;
  padding: 6px;
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 53%);
  font-size: 28px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 15px;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  text-decoration: none;
}

.headimg {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.catch {
  margin: 0;
  padding: 15px;
  font-size: 24px;
  background-color: hsla(0, 0%, 100%, 0.7);
}

.news {
  padding: 20px;
  border: solid 6px #dddddd;
  margin-bottom: 20px;
}

.news h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: hsl(0, 0%, 40%); /*66 66 66*/
}

.news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom : dotted 2px #dddddd;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  text-decoration: none;
}

.news li a:hover {
  background-color: hsl(0, 0%, 93%); /*ee ee ee*/
}

.copyright p {
  margin: 0;
  color: hsl(0, 0%, 40%); /*66 66 66*/
  font-size: 14px;
}

body {
  display: grid;
  grid-template-columns: [left] minmax(20px, 1fr) [main] minmax(auto, 1140px) [main-end] minmax(20px, 1fr) [right];
  grid-template-rows: [head] auto [head] auto [img] auto [catch] auto [main] auto [foot] auto [bottom];
}

.site {
  grid-column-start: main;
  grid-row-start: head;
}

.menu {
  grid-column-start: main;
  grid-row-start: head;
  justify-self: end;
  align-self: center;
}

.headimg {
  grid-column-start: main;
  grid-row-start: img;
}

.catch {
  grid-column-start: main;
  grid-row-start: img;
  justify-self: start;
  align-self: end;
  margin-left: 20px;
  margin-bottom: 40px;
}

.news {
  grid-column-start: main;
  grid-row-start: main;
}

.copyright {
  grid-column-start: main;
  grid-row-start: foot;
}

@media (max-width: 1179px) {
  .headimg {
    grid-column-start: left;
    grid-column-end: right;
  }
}

@media (max-width: 599px) {
  .catch {
    grid-row-start: catch;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 5vw;
  }
}

@media (max-width: 767px) {
  button {
    display: block;
  }

  .menu {
    grid-row-start: head 2;
    justify-self: stretch;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

  .menu ul {
    flex-direction: column;
  }
}

button {
  grid-column-start: main;
  grid-row-start: head;
  justify-self: end;  
  align-self: center;  
}
